:root {
  --color-azul-normal: #2a7ae4;
  --raleway: "Raleway", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[data-theme="light"] {
  --color-black: #464646;
  --color-azul-claro: #eaf2fd;
  --backgroundd: #f5f5f5;
  --color-blanco: #ffffff;
  --slider-theme: #ffffff;
  --slider-icon: #f3ee58;
}

[data-theme="dark"] {
  --color-black: #f5f5f5;
  --color-azul-claro: #010828;
  --color-blanco: #000000;
  --backgroundd: #00020e;
  --slider-theme: #152d6b;
  --slider-icon: #fff;
}
